* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';

}

h1 {
    font-family: 'Big Shoulders Text', cursive;
    margin-top: 2rem;
}

p {
    font-family: 'poppins';
    margin: 1rem 0;
    margin-bottom: 3rem;
}

body {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 5rem;
    height: auto;
}

.box_container {
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
}

img {
    opacity: 0.4;
}

.circle {
    background: rgba(18, 13, 7, 0.3);
    width: 10%;
    padding: 10px;
    border-radius: 50%;
    color: rgba(18, 13, 7, 0.3);
    margin-right: -25px;

}

.box_1 {
    background: rgba(234, 135, 6, 0.927);
    color: white;
    width: 15rem;
    border-radius: 1rem 0 0 1rem;
    padding: 4rem 4rem;

}

#fst {
    color: rgba(234, 135, 6, 0.927);

}

.box_2 {
    background: rgb(0, 100, 95);
    color: white;
    width: 15rem;
    padding: 4rem 4rem;
}

#scnd {
    color: rgb(0, 100, 95);
}

.box_3 {
    background: rgb(13, 54, 52);
    color: white;
    width: 15rem;
    border-radius: 0 1rem 1rem 0;
    padding: 4rem 4rem;
}

#thrd {
    color: rgb(13, 54, 52);
}

button {
    padding: 12px 25px;
    border-radius: 20rem;
    border: none;
    margin-top: 3.5rem;
    cursor: pointer;
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(13, 54, 52);
    width: 5%;
    height: 10px;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    text-align: center;
}

.b a {
    text-decoration: none;
}

a:visited {
    color: wheat;
}